@model IEnumerable<ExerciseGO.Models.Video>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="thumbnail">
       <iframe src="@Html.DisplayFor(modelItem => item.VideoLink)"></iframe>

        @Html.DisplayFor(modelItem => item.VideoName)

        @Html.DisplayFor(modelItem => item.IsWatch)

        @Html.DisplayFor(modelItem => item.IsBonus)

        @Html.DisplayFor(modelItem => item.TargetArea.TargetAreaName)

        @Html.ActionLink("Edit", "Edit", new { id = item.VideoID })
        @Html.ActionLink("Details", "Details", new { id = item.VideoID })
        @Html.ActionLink("Delete", "Delete", new { id = item.VideoID })
    </div>
}