@model IEnumerable<ExerciseGO.Models.Video>

@{
    ViewBag.Title = "Index";
}

@foreach (var item in Model)
{
    <div class="col-md-6">
            <div class="col-md-6">
                <iframe src="@Html.DisplayFor(modelItem => item.VideoLink)" frameborder="0"></iframe>
            </div>
            <div class="col-md-6">
                <h4>@Html.DisplayFor(modelItem => item.TargetArea.TargetAreaName)</h4>
                <p>@Html.DisplayFor(modelItem => item.VideoName)</p>
            </div>
                @*@Html.DisplayFor(modelItem => item.IsWatch)
                @Html.DisplayFor(modelItem => item.IsBonus)
                @Html.ActionLink("Edit", "Edit", new { id = item.VideoID })
                @Html.ActionLink("Details", "Details", new { id = item.VideoID })
                @Html.ActionLink("Delete", "Delete", new { id = item.VideoID })*@
        </div>
}