@model IEnumerable<ExerciseGO.Models.Video>

@{
    ViewBag.Title = "Index";
}

@*<h2>@Html.DisplayNameFor(model => model.Video.TargetArea.TargetAreaName)</h2>*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    
    <!-- Trigger/Open The Modal -->
    <img id="myBtn" src="~/Content/Image/default.png">

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe src="@Html.DisplayFor(modelItem => item.VideoLink)"></iframe>
        </div>

    </div>

    <div class="thumbnail">
        <a href="@Html.DisplayFor(modelItem => item.VideoLink)" data-lightbox="Abs" id="@Html.DisplayFor(modelItem => item.VideoName)">
            <img src="~/Content/Image/default.png" />
            <script type="text/javascript">
                $(document).ready(function () {
                    document.getElementById("@Html.DisplayFor(modelItem => item.VideoName)").click();
                    setTimeout('document.getElementsByClassName("lb-close")[0].click();', 10000);
                });
            </script>
        </a>
        
        @*<iframe width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>*@

        @Html.DisplayFor(modelItem => item.VideoName)

        @Html.DisplayFor(modelItem => item.IsWatch)

        @Html.DisplayFor(modelItem => item.IsBonus)

        @Html.DisplayFor(modelItem => item.Game.UserName)



        @Html.ActionLink("Edit", "Edit", new { id = item.VideoID })
        @Html.ActionLink("Details", "Details", new { id = item.VideoID })
        @Html.ActionLink("Delete", "Delete", new { id = item.VideoID })
    </div>
}
