<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABcoSsibpI8dQfUsSjdbQrpm6d0VnIH5w&libraries=places"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABcoSsibpI8dQfUsSjdbQrpm6d0VnIH5w&libraries=places&callback=initMap" async defer></script>
        <script src="~/Content/Maps.js"></script>*@
</head>

<body>
  
        <nav class="navbar navbar-default" style="margin:0px;">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Gym Locations</a></li>
                        <li>
                            <a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse1" aria-expanded="false" aria-controls="nav-collapse1">Activity Log</a>
                        </li>
                    </ul>
                    <ul class="collapse nav navbar-nav nav-collapse" id="nav-collapse1">
                        <li><a href="#">Cardio</a></li>
                        <li><a href="#">Back</a></li>
                        <li><a href="#">Chest</a></li>
                        <li><a href="#">Abs</a></li>
                        <li><a href="#">Legs</a></li>
                        <li><a href="#">Arms</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
        </nav><!-- /.navbar -->

        <!--LOG IN NAVBAR-->
        @*<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:transparent; border-color:transparent;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                @*</div>
                <div class="navbar-collapse collapse">*@
                    @*<ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>*@
                    @*@Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div>*@
        @*Lauren removed the class from the div above this line. The original line was: <div class="container body-content">*@
            @RenderBody()
            <div id="map"></div>
            @*Google Maps Embed API
                The Google Maps Embed API lets you place an interactive map, or Street View panorama on your site with a simple HTTP request.
                    It can be easily embedded in your web page or blog by setting the Google Maps Embed API URL as the src attribute of an
                    iframe:*@

            <iframe width="800"
                    height="550"
                    frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABcoSsibpI8dQfUsSjdbQrpm6d0VnIH5w&q=gymCleveland,OH" allowfullscreen addmarker></iframe>
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
