<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABcoSsibpI8dQfUsSjdbQrpm6d0VnIH5w&libraries=places"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABcoSsibpI8dQfUsSjdbQrpm6d0VnIH5w&libraries=places&callback=initMap" async defer></script>
    <script src="~/Content/Maps.js"></script>*@
</head>

<body>
    
    
    @*<div class="step" id="cp_step3" style="">
        <div class="form-inputs">
            <div class="row">
                <div class="col-xs-10 col-md-offset-3 col-md-6 col-xs-offset-1">
                    <div class="row">
                        <div class="spinner-container" id="new-parser-form-spinner">
                            <div class="spinner_text text-center" id="spinner_text">
                                Your Progress
                            </div>

                            <div class="progress" id="new-parser-progress">
                                <div class="progress-bar">
                                    <span class="sr-only" id="pct">45% Complete</span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="msg-text text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    
    <div class="container body-content">
        @RenderBody()
        <div id="map"></div>
        @*Google Maps Embed API
        The Google Maps Embed API lets you place an interactive map, or Street View panorama on your site with a simple HTTP request.
            It can be easily embedded in your web page or blog by setting the Google Maps Embed API URL as the src attribute of an 
            iframe:*@

        <iframe width="800"
                height="550"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyABcoSsibpI8dQfUsSjdbQrpm6d0VnIH5w&q=gymCleveland,OH" allowfullscreen addmarker></iframe>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
